.slid{
    height: 80vh;
    overflow: hidden;
}
.slid_1,.slid_2,.slid_3{
    background-image: url("../images/slider-img-2.webp");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;

}
.slid_2{
    background-image: url("../images/Rectangle_38937_1.webp");
}
.slid_3{
    background-image: url("../images/slider-img-03_ceb10e02-b97b-4d28-bf36-b6e94130fdbf.webp");
}
.activebtn{
    background-color: var(--nav-hover);
    color: white;
}
.activebtn:hover{
    background-color: white;
    color: black;
}
.activelink{
    color: var(--nav-hover);
}
.swiper-button-prev,.swiper-button-next{
   background-color: var(--nav-hover);
   width: 50px !important;
   height: 50px !important;
   border: 1px solid var(--nav-hover);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.swiper-button-prev::after,.swiper-button-next::after{
    font-size: 25px !important;
    color: white;
}