.singleproduct{
    margin: 50px 0;
}
.swiper-parent{
    gap: 5%;
}
.mySwiper2{
    height: 400px;
    width: 75%;
}
.mySwiper{
    height: 400px;
    width: 20%;
    position: relative;
    background: transparent;
}
.mySwiper2 .swiper-button-next,
.mySwiper2 .swiper-button-prev{
    display: none;
}
.mySwiper .swiper-button-next{
    margin: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: rotate(90deg);
    transform: translatex(-50%);
}
.mySwiper .swiper-button-next::after{
    transform: rotate(-90deg);
}
.mySwiper .swiper-button-prev{
    margin: 0;
    position: absolute;
    top: calc(100% - 60px);
    left: 50%;
    transform: translatex(-50%);
}
.mySwiper .swiper-button-prev::after{
    transform: rotate(-90deg);
}
.star{
    color: var(--nav-hover);
}
.parentofqty{
    border: 1px solid var(--nav-hover);
    border-radius: 15px;  
}
button{
    background-color: transparent;
    border: 0;
    color: white;
}
.hoverwhite{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 20px;
    color: white;
}
.hoverwhite:hover{
    background-color: var(--nav-hover);
    border: 1px solid var(--nav-hover);
}
.hovernav:hover{
    background-color: white;
    color: var(--nav-hover);
}
.plus{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.minus{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.addcart{
    border: 1px solid var(--nav-hover);
    border-radius: 15px;
}