.home{
    color: var(--nav-hover);
}
.blogpart{
    padding: 100px 50px;
}
.blogpart p{
    color: var(--nav-hover);
}
.blogpart h3{
    font-size: 40px;
}
.homeblogimg{
    overflow: hidden;
    border-radius: 20px;
}
.homeblogimg img:hover{
    transform: scale(1.2);
    transition: 0.5s linear;
}