.home{
    color: var(--nav-hover);
}
.blogpart{
    padding: 100px 50px;
}
.blogpart .para,.smalltext p span{
    color: var(--nav-hover);
}
.blogpart h3{
    font-size: 40px;
}
.homeblogimg{
    overflow: hidden;
    border-radius: 20px;
}
.homeblogimg img{
    transition: 0.5s ease;
    object-fit: fill;
}
.homeblogimg img:hover{
    transform: scale(1.2);
}

.smallblog{
    height: 170px;
}
.smallimg{
    /* overflow: hidden; */
    width: 100%;
    border-radius: 10px;
}
.smallimg img{
    width: 100%;
    transition: 0.5s ease;
    object-fit: fill;
}
/* .smallimg img:hover{
    transform: scale(1.2);
}
.smalltext h3{
    font-size: 30px;
} */