:root{
    --background-color:rgb(16,16,16);
    --main-color:white;
    --nav-hover:rgb(221, 114, 16);
}
.headerparent{
    position: sticky;
    top: 0;
    z-index: 20;
    height: 12vh;
    background-color: var(--background-color);
}
.query{
    display: none;
}
.dropdownmenu{
    background-color: black;
}
.dropdownsingle:hover{
    color: var(--nav-hover) !important;
    background-color: transparent;
}
.active{
    color: var(--nav-hover) !important ;
}
.icons-nav{
    font-size: 25px;
    font-weight: 500;
}
.lenghtnumber{
    width: 50px;
    height: 50px;
    background-color: white;
    color: var(--nav-hover);
    position: absolute;
    top: 0;
    right: 0;
}
@media (max-width:768px){
    .query{
        display: block;
    }
    .nav{
        display: none !important;
    }
}
@media (max-width:426px){
    .query{
        display: block;
    }
    .logo{
        height: 20px;
    }
    .icons-nav{
        gap: 10px !important;
        font-size: 20px;
    }
}
