.blogitem h3:hover{
    color: var(--nav-hover);
}
.blogimgparent{
    height: 300px;
    overflow: hidden;
    border-radius: 25px;
}
.blogimg{
    transition: 0.3s ease;
    object-fit: fill;
}
.blogimg:hover{
    transform: scale(1.2); 
}