.singleblogimg{
    border-radius: 20px ;
}
.imgmotion{
    width: 90%;
    height: 150px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/blog-03.webp");
    background-attachment: fixed;
    margin: 50px auto;
    border-radius: 20px;
}
.imgmotion p{
    font-size: 20px;
}
.line{
    height: 1px;
    background-color: white;
    margin: 20px 0;
}
.recentpost .parentimg{
    background-color: aqua;
}
.recentpost .parentimg img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.recentpost div h3{
    font-size: 18px;
}

@media (max-width:768px){
    .detailsparent{
        border: none !important;
    }
    .recentpost{
        flex-direction: column !important;
        /* align-items: start !important; */
    }
    .recentpost .parentimg{
        padding: 0;
    }
    .recentpost .parentimg img{
        width: 100%;
        height: 300px;
    }
}
@media (max-width:426px){
    .imgmotion{
        height: 200px;
    }
    .imgmotion p{
        font-size: 16px;
    }
}