:root{
    --background-color:rgb(16,16,16);
    --main-color:white;
    --nav-hover:rgb(221, 114, 16);
}
.headerparent{
    position: sticky;
    top: 0;
    z-index: 20;
    height: 12vh;
    background-color: var(--background-color);
}
.query{
    display: none;
}
.dropdownmenu{
    background-color: black;
}
.dropdownsingle:hover{
    color: var(--nav-hover) !important;
    background-color: transparent;
}
.active{
    color: var(--nav-hover) ;
}
@media (max-width:768px){
    .query{
        display: block;
    }
    .nav{
        display: none !important;
    }
}
@media (max-width:426px){
    .query{
        display: block;
    }
    .nav,.smallquery{
        display: none !important;
    }
    .logo{
        height: 20px;
    }
}
