.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    transform: translateX(-110%);
    transition: all 0.2s ;
    background-color: red;
}
.sidebar ul li{
    list-style: none;
    font-size: 25px;
    text-transform: capitalize;
}
.activesidebar{
    transform: translateX(0%);
}